body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.grid-item {
    text-align: center; /* Căn giữa nội dung bên trong mỗi grid-item */
}

img {
    width: 100%;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px; /* Bo tròn góc ảnh */
}
